:root {
  color: #213547;
  background-color: rgb(8, 0, 96);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: larger;
  line-height: 1.1;
  color: white;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

button {
  color: white;
  background-color: blueviolet;
  border-radius: 8px;
  border-width: 0.15em;
  border-color: gold;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  border-color: blueviolet;
}

button:focus,
button:focus-visible {
  outline: 4px blueviolet;
}

.inputs {
  height: 1.5em;
  width: 24em;
  border-color: blueviolet;
}

.marquee {
  color: white
}

.scoreBoardWrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.scoreBoard {
  text-align: center;
  margin: 1em;
  height: 10em;
  width: 6em;
  border-color: black;
  border-width: 0.2em;
  color: rgb(0, 0, 0);
  font-size: x-large;
  background-color: rgb(255, 255, 255);
}

.namesWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.name {
  text-align: center;
  height: 2em;
  width: 15em;
  border-color: black;
  border-width: 0.2em;
  color: rgb(0, 0, 0);
  font-size: x-large;
  background-color: rgb(255, 255, 255);
}